@property --houdini-colorA {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff;
}
@property --houdini-colorB {
    syntax: "<color>";
    inherits: false;
    initial-value: #000;
}
.container {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(45deg, #ffeb3b, #009688, yellowgreen, pink, #03a9f4, #9c27b0, #8bc34a);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
