@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
.box {
    // width: 300px;
    font-family: 'Reggae One', CenturyGothic, "AppleGothic", sans-serif;
    height: 100px;
    margin: 10px 0;
    font-size: 30px;
    transition: all .2s;
    cursor: pointer;
 
    &:hover {
        text-shadow: 
            0 0 10px #0ebeff,
            0 0 20px #0ebeff,
            0 0 50px #0ebeff,
            0 0 100px #0ebeff,
            0 0 200px #0ebeff;
    }
}